input[type="text"] {
    width: 120px;
    height: 40px;
}
#btn1 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn1:hover {
    background-color: aqua;
}
#btn2 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn2:hover {
    background-color: aqua;
}

#btn3 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn3:hover {
    background-color: aqua;
}
#btnMultiply {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btnMultiply:hover {
    background-color: aqua;
}
#btn4 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn4:hover {
    background-color: aqua;
}
#btn5 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn5:hover {
    background-color: aqua;
}
#btn6 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn6:hover {
    background-color: aqua;
}
#btnAdd {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btnAdd:hover {
    background-color: aqua;
}
#btn7 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn7:hover {
    background-color: aqua;
}
#btn8 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn8:hover {
    background-color: aqua;
}
#btn9 {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btn9:hover {
    background-color: aqua;
}
#btnSubtract {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btnSubtract:hover {
    background-color: aqua;
}
#btnClear {
    background-color: red;
    font-weight: 800;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
#btnClear:hover {
    background-color: aqua;
}
#btnEqual {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btnEqual:hover {
    background-color: aqua;
}
#btnDVD {
    background-color: blue;
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btnDVD:hover {
    background-color: aqua;
}
#btnZERO {
    font-weight: 800;
    width: 40px;
    height: 40px;
}
#btnZERO:hover {
    background-color: aqua;
}
#delete {
        font-weight: 800;
        background-color: blue;
        width: 40px;
        height: 40px;
}
#delete:hover {
    background-color: aqua;
}
.calculator {
    border: solid cadetblue;
    width: 180px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 20rem;
}
button {
    border-radius: 75%;
    border: solid black;
    margin-bottom: 2px;
}
